.navbar {
  display: flex;
  color: rgb(233, 76, 76);
  height: 6rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #fcc156;
}
.navbar p {
  font-size: 34px;
  margin-left: 4rem;
}
.navbar a {
  text-decoration: none;
  color: black;
  padding: 0 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.navbar a:hover {
  color: rgb(245, 243, 242);
  transition: 0.2s;
}

.img-nav {
  width: 4.2rem;
  margin-left: 0.6rem;
  transform: rotate(320deg);
}
