.container-input {
  display: flex;
  flex-direction: column;
}
.container-input label {
  display: flex;
  flex-direction: column;
}
button {
  cursor: pointer;
  margin-top: 1rem;
}
.login-register-button {
  cursor: pointer;
  color: rgb(147, 147, 233);
}
.login-register-button:hover {
  color: red;
}

input {
  padding: 0.6rem;
  width: 20rem;
}
