.profile-box {
  display: flex;
  margin-right: 1.2rem;
}

.profile-pic {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.profile-pic:hover {
  transform: scale(1.15);
}
.profile-placeholder {
  display: flex;
  color: white;
  cursor: pointer;
  border-radius: 80px;
  border: black solid 1px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 0.2;
}

.placeholder-pic {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  background-color: #ccc9c9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #555;
  cursor: pointer;
}

.hidden-input {
  display: none;
}

.profile-info {
  margin-top: 5px;
  text-align: center;
}

.profile-name {
  font-size: 20px;
  color: black;
  margin-left: 0.3rem;
  margin-right: 0.4rem;
  font-family: arial;
}

.btn-logout {
  font-size: 16px;
  margin: 1rem;
}

@media (max-width: 480px) {
  .profile-box {
    width: 90%;
    padding: 15px;
  }

  .profile-pic,
  .placeholder-pic {
    width: 100px;
    height: 100px;
  }

  .profile-name {
    font-size: 18px;
  }

  .btn-logout {
    font-size: 14px;
  }
}
